In [1]:
# Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Machine learning imports
from sklearn.cross_validation import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
# Reading the train data into dataframe
train_df = pd.read_csv('./codetest_train.txt',delimiter='\t')

In [3]:
# viewing dataframe
# some of the columns are strings so need to find them
train_df.head()

,target,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
0,3.066056,-0.653,0.255,-0.615,-1.833,-0.736,NaN,1.115,-0.171,-0.351,...,-1.607,-1.400,-0.920,-0.198,-0.945,-0.573,0.170,-0.418,-1.244,-0.503
1,-1.910473,1.179,-0.093,-0.556,0.811,-0.468,-0.005,-0.116,-1.243,1.985,...,1.282,0.032,-0.061,NaN,-0.061,-0.302,1.281,-0.850,0.821,-0.260
2,7.830711,0.181,-0.778,-0.919,0.113,0.887,-0.762,1.872,-1.709,0.135,...,-0.237,-0.660,1.073,-0.193,0.570,-0.267,1.435,1.332,-1.147,2.580
3,-2.180862,0.745,-0.245,-1.343,1.163,-0.169,-0.151,-1.100,0.225,1.223,...,0.709,-0.203,-0.136,-0.571,1.682,0.243,-0.381,0.613,1.033,0.400
4,5.462784,1.217,-1.324,-0.958,0.448,-2.873,-0.856,0.603,0.763,0.020,...,0.892,-0.433,-0.877,0.289,0.654,1.230,0.457,-0.754,-0.025,-0.931

In [4]:
# Dataframe information
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Columns: 255 entries, target to f_253
dtypes: float64(251), object(4)
memory usage: 9.8+ MB

In [6]:
# Basic stats on training data indicates that most features are missing around 100 values
# Deleting rows where NaN values exist leaves too few data points to make a robust model
train_df.describe()

,target,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
count,5000.000000,4903.000000,4928.000000,4908.000000,4910.000000,4907.000000,4912.000000,4897.000000,4904.000000,4893.000000,...,4910.000000,4883.000000,4914.000000,4894.000000,4902.000000,4886.000000,4900.000000,4921.000000,4904.000000,4904.000000
mean,1.143878,-0.000433,0.002564,0.028877,-0.005437,-0.006759,0.005569,0.001536,-0.001019,0.009744,...,0.013529,0.004941,0.023261,-0.018447,-0.009842,0.016958,-0.004947,0.016868,-0.001351,0.010334
std,5.259896,0.999739,0.997930,1.019337,0.990351,1.006293,0.995799,1.004624,0.997356,0.988310,...,1.001453,0.997330,0.996458,1.005000,0.989228,1.011331,0.991577,1.001358,1.003411,1.006896
min,-26.705570,-3.941000,-3.847000,-3.818000,-3.434000,-3.400000,-4.051000,-3.179000,-3.890000,-3.857000,...,-3.585000,-3.494000,-3.485000,-4.012000,-3.252000,-3.821000,-3.376000,-3.373000,-3.950000,-3.728000
25%,-2.034383,-0.673000,-0.685000,-0.651000,-0.655000,-0.685500,-0.660000,-0.672000,-0.679000,-0.662000,...,-0.665750,-0.676000,-0.661750,-0.692000,-0.663000,-0.647750,-0.679500,-0.647000,-0.695000,-0.677000
50%,1.166835,-0.011000,-0.003000,0.047500,0.003500,-0.007000,-0.008000,-0.003000,-0.021500,0.017000,...,0.026000,-0.028000,0.027000,-0.035000,-0.010500,0.002500,0.010000,0.020000,0.002500,0.015000
75%,4.439549,0.677000,0.674500,0.719000,0.668000,0.654000,0.649000,0.679000,0.670250,0.698000,...,0.671750,0.670000,0.702500,0.655000,0.651000,0.709750,0.660250,0.692000,0.672250,0.705250
max,26.347818,3.831000,3.996000,3.199000,4.962000,3.106000,4.296000,4.166000,3.798000,4.195000,...,3.365000,3.456000,3.881000,3.690000,3.629000,4.144000,3.873000,3.187000,3.724000,3.956000

In [24]:
# NaN values are filled with median of each column. Median is used as is less prone to outlier effects than mean
train_df = train_df.fillna(train_df.median())

In [26]:
train_df.describe()

,target,f_0,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,...,f_244,f_245,f_246,f_247,f_248,f_249,f_250,f_251,f_252,f_253
count,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,1.143878,-0.000638,0.002484,0.029220,-0.005277,-0.006764,0.005331,0.001443,-0.001412,0.009899,...,0.013753,0.004170,0.023325,-0.018798,-0.009855,0.016628,-0.004648,0.016918,-0.001277,0.010424
std,5.259896,0.989993,0.990717,1.009916,0.981396,0.996888,0.986997,0.994221,0.987737,0.977676,...,0.992399,0.985602,0.987850,0.994290,0.979483,0.999735,0.981611,0.993415,0.993730,0.997181
min,-26.705570,-3.941000,-3.847000,-3.818000,-3.434000,-3.400000,-4.051000,-3.179000,-3.890000,-3.857000,...,-3.585000,-3.494000,-3.485000,-4.012000,-3.252000,-3.821000,-3.376000,-3.373000,-3.950000,-3.728000
25%,-2.034383,-0.660250,-0.673250,-0.633000,-0.640000,-0.670000,-0.646000,-0.650000,-0.666000,-0.648500,...,-0.649000,-0.653250,-0.652000,-0.672000,-0.648000,-0.628250,-0.662000,-0.637000,-0.679250,-0.662750
50%,1.166835,-0.011000,-0.003000,0.047500,0.003500,-0.007000,-0.008000,-0.003000,-0.021500,0.017000,...,0.026000,-0.028000,0.027000,-0.035000,-0.010500,0.002500,0.010000,0.020000,0.002500,0.015000
75%,4.439549,0.662250,0.664250,0.702250,0.654250,0.636250,0.637250,0.657250,0.653250,0.683000,...,0.661000,0.653000,0.687500,0.636000,0.632000,0.694250,0.643750,0.676250,0.661250,0.689250
max,26.347818,3.831000,3.996000,3.199000,4.962000,3.106000,4.296000,4.166000,3.798000,4.195000,...,3.365000,3.456000,3.881000,3.690000,3.629000,4.144000,3.873000,3.187000,3.724000,3.956000

In [15]:
a =train_df.applymap(np.isreal).all(0)

In [27]:
np.argmin(train_df.applymap(np.isreal).all(0))

'f_61'

In [6]:
# seperating data into variables and target arrays
y =train_df.iloc[:,:1].values
X =train_df.iloc[:,1:].values

In [63]:
X.dtype

dtype('O')

In [51]:
y.shape

(5000, 1)

In [55]:
# Just fit data straight away to linear regression
lin = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3,random_state=0)
lin.fit(X_train,y_train)
y_train_pred = lin.predict(X_train)
y_test_pred = lin.predict(X_test)

ValueError: could not convert string to float: USA

In [61]:
X_train.dtype.kind

'O'